[Unit]
Description=the qu4rtet gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=www-data
# uses the celery group since synchronous task execution utilizes all of the same resources
Group=celery
EnvironmentFile=/etc/systemd/gunicorn.conf
WorkingDirectory=/srv/qu4rtet
ExecStart='${GUNICORN_BIN} --workers ${GUNICORN_WORKERS} --bind config.wsgi.application'
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
